span.CloudflareAppsWordsHelp {
  position: relative;
  display: inline;
}
.CloudflareAppsWordsHelp span{
  position: absolute;
  width:200px;
  color: #000000;
  background: #6DBDBF;
  height: 150px;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}
.CloudflareAppsWordsHelp after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}


/*.CloudflareAppsAnts after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

span.CloudflareAppsAnts {
  position: relative;
  display: inline;
}
.CloudflareAppsAnts span{
  position: absolute;
  width:200px;
  color: #000000;
  background: #E53B25;
  height: 50px;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 998;
}*/
